@import url("./colors.css");

/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: @text;
    }

    to {
        color: @warning;
    }
}

@keyframes blink-critical {
    10% {
      color: @text;
    }

    to {
      color: @urgent;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    color: @text;
    font-family: OverpassMono Nerd Font;
    font-size: 20px;
    border-bottom: 2px solid @shadow;
    background-color: @main;
}

/* Each module */
#custom-power-profile,
#workspaces button,
#idle_inhibitor,
#mpris,
#backlight,
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    border-radius: 0px;
    background-color: @transparent;
    margin: 0px 5px;
    padding: 10px 5px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 10s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#battery.charging {
    color: @primary;
}

#custom-power-profile.power-saver {
    border-top: @urgent solid 2px;
    color: @urgent;
    background-color: @shadow;
}

#custom-power-profile.balanced {
    border-top: @primary solid 2px;
    color: @primary;
    background-color: @shadow;
}

#custom-power-profile.performance {
    border-top: @warning solid 2px;
    color: @warning;
    background-color: @shadow;
}


#clock {
    font-weight: bold;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: @peach;
}

#cpu.critical {
    color: @urgent;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @warning;
}

#memory.critical {
    color: @urgent;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: @shadow;
    border-top: 2px solid @primary;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#custom-spotify {
    color: @primary;
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: @urgent;
}

#tray {
    /* No styles */
}

#window {
    font-weight: bold;
}

#workspaces button {
    color: @tertiary;
}

#workspaces button.focused {
    color: @text;
}
#workspaces button:hover {
    color: @text;
    background-color: @transparent;
}

#idle_inhibitor.deactivated {
    color: @tertiary
}
#workspaces button.urgent {
    color: @urgent;
}
