@import url("./colors.css");

/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: @primary;
    }

    to {
        color: @warning;
    }
}

@keyframes blink-critical {
    10% {
      color: @primary;
    }

    to {
      color: @urgent;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

/* The whole bar */
#waybar {
    color: @text;
    font-family: Cantarell, Overpass Nerd Font;
    font-size: 15px;
    border-bottom: 2px solid @shadow;
    background-color: @main;
}

/* Each module */
#custom-power-profile,
#workspaces button,
#idle_inhibitor,
#mpris,
#backlight,
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    /*color: @text;*/
    border-radius: 0px;
    background-color: @transparent;
    margin: 0px 5px;
    padding: 5px 5px;
    padding-bottom: 7px;
    border-top: 2px solid @transparent;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 10s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#battery.charging {
    color: @secondary;
}

#battery {
    color: @primary;
}

#clock {
    color: @tertiary;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: @peach;
}

#cpu.critical {
    color: @urgent;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @warning;
}

#memory.critical {
    color: @urgent;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#custom-power-profile.power-saver {
    color: @urgent;
}

#custom-power-profile.balanced {
    color: @primary;
}

#custom-power-profile.performance {
    color: @warning;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#mpris {
    color: @primary
}

#pulseaudio {
    color: @tertiary;
    
}

#pulseaudio.muted {
    /* No styles */
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: @urgent;
}

#tray {
    color: @primary;
}

#window {
    /*no styles*/
}
#idle_inhibitor.activated,
#mode,
#backlight {
    color: @secondary;
}

#workspaces button {
    color: @unfocused;
}

#workspaces button:hover,
#workspaces button.focused {
    transition: all 0.3s;
}

#workspaces button.focused {
    padding-right: 14px;
    padding-left: 14px;
    color: @primary
}


#idle_inhibitor.deactivated {
    color: @unfocused;
}
#workspaces button.urgent {
    color: @urgent;
}
